<p id="notice"></p>
<h1>Books</h1>


<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @books.each do |book| %>

        <p>Title</p>
        <span>
            <%= link_to book.title, book_path(book.id) %>
        </span>


        <% end %>
    </tbody>
</table>



<%# to do 新規作成を合体 new.html %>